/**********  Imports          **********/
@import url(https://fonts.googleapis.com/css?family=Lobster);   /*Advertising font*/


/**********  Generic classes  **********/ 
* {
    box-sizing: border-box;
    margin:     0;
    padding:    0;
}

body {
    background-color: #fffbf7;
    font-family:      "Open Sans", sans-serif;
}

main {
    margin-top: 285px;
    text-align: center;
}

button {
    background-color: #025157;
    border:           0;
    border-radius:    5px;
    color:            white;
    padding:          12px 14px;
}

li {
    display: inline;
    margin:  0 5px;
}

/*           Retos BEDU S1            */
h1 {
    color: #025157;
}

h2 {
    color: #46484c;
}

p {
    color: #8b8b8bcc;
}

/*           Reto 2 BEDU S4            */
.features-reto2 {
    display: grid;
    /*grid-template-columns: 300px 300px;*/
    /*grid-template-columns: repeat(2, 300px);*/
    /*grid-template-columns: 500px 1fr;*/
    /*grid-template-columns: 1fr 1fr;*/
    
    /* Reto 3.1 */
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows:    repeat(2, 330px) */
    /* Reto 3.2 */
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

.feature-art {
    background-color: lightcyan;
    margin:           10px;
    height:           50px;
    width:            40%;
}


/**********  Header           **********/ 
.fixed-header {
    background-color: #fffbf7;
    left:             0;
    position:         fixed;
    right:            0;
    top:              0;
}

.header {
    font-size:    0;
    height:       45px;
    margin:       20px 20px 0 20px;
    /*margin-top:   40px;
    margin-left:  20px;
    margin-right: 20px;*/
    
}

.header > * {
    display:        inline-block;
    font-family:    sans-serif;
    font-size:      16px;
    height:         45px;   /* 100% */
    line-height:    45px;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

.logo > img {
    height: 100%;
}

.actions {
    font-size:   14px;
    font-weight: 600;
    text-align:  right;
}

.actions > * {
    margin-right: 10px;
    margin-left:  10px;
}
  
.actions a {
    color: #67b54b;
    text-decoration: none;
}

.actions button {
    background-color: #67b54b;
    border:           0;
    border-radius:    5px;
    color:            white;
    height:           50px;
    padding:          12px 14px;
}

/*           Nav-menu            */
.navbar {
    color:       #025157;
    font-weight: 500;
    text-align:  center;
    width:       70%;
}

.navbar > *{
    margin-right: 25px;
    margin-left:  25px;
}


/**********  Main-content     **********/

/**********  Advertising      **********/
.promo {
    align-items: center;
    display:     flex;
    margin:      100px auto;
    max-width:   70%;
    width:       70%;
}

.explanatory-video {
    align-items:    center;
    display:        flex;
    flex:           1;
    flex-direction: column;
    margin-right:   30px;
}
  
.explanatory-video img {
    margin-top: 10px;
    width:      120px;
}

.advertising {
    flex: 1;
}

.advertising h2 {
    color:         #025157;
    font-family:   "Lobster", cursive;
    font-size:     60px;
    line-height:   48px;
    margin-top:    20px;
    margin-bottom: 20px;
}

.advertising h3 {
    color:         #025157;
    font-family:   "Lobster", cursive;
    font-size:     45px;
    line-height:   48px;
    margin-top:    20px;
    margin-bottom: 20px;
}

.advertising > p {
    color:         #343434;
    font-size:     16px;
    line-height:   1.5;
    margin-bottom: 20px;
}

.advertising > form {
    display: flex;
}

.advertising > form p {
    color:        #025157;
    margin-right: 18px;
}

/**********  Features  **********/
.features {
    background-color: #025157;
    display:          grid;
    grid-template:    repeat(2, 330px) / repeat(2, 1fr);
    padding:          5% 15%;
}

.features .subfeatures {
    align-items:       center;
    background-color: #fff;
    border-radius:    7px;
    display:          flex;
    justify-content:  space-around;
    margin:           15px 15px;
    overflow:         hidden;
}

.features .subfeatures .feature-content {
    margin-left: 40px;
}

.features .subfeatures .feature-image {
    flex:     1;
    height:   85%;
    position: relative;
    right:    -30px;
    width:    50%;
}

/*           Lado izquierdo            */
.features .subfeatures .feature-content img{
    width: 50px;
}

.features .subfeatures .feature-content h3{
    color:       #343434;
    font-size:   28px;
    font-weight: 600;
    margin-top:  10px;
}

.features .subfeatures .feature-content p{
    color:       #7e7e7e;
    font-size:   12px;
    font-weight: 400;
    margin-top:  10px;
}

.features .subfeatures .feature-content a{
    color:           #67b54b;
    font-size:       12px;
    font-weight:     600;
    text-decoration: none;
}

/*           Lado derecho              */
.features .subfeatures .feature-image img{
    height:     100%;
    margin-top: 0;
}


/**********  Success stories  **********/
.success-stories {
    align-items:      center;
    background-color: #a1d683;
    display:          flex;
    justify-content:  space-around;
    padding:          5% 15%;
}

.success-stories .overview {
    flex: 2;
    padding:        0 75px;
}

.success-stories .stories {
    align-items:      center;
    background-color: #fff;
    border-radius:    10px;
    display:          flex;
    flex-direction:   column;
    max-width:        370px;
    width:            100%;
}

.success-stories .stories .card-media{
    position: relative;
}

.success-stories .stories .card-media .card-logo {
    align-items:      center;
    background-color: #f9da73;
    border-radius:    50%;
    bottom:           -25px;
    display:          flex;
    position:         absolute;
    right:            15px;
    width:            100px;
    height:           100px;
}

.success-stories .stories .card-info,
.success-stories .stories .card-submit {
    padding: 20px;
}

.success-stories .stories .card-info .card-results {
    align-items:  center;
    color:        #828282;
    display:      flex;
}

.success-stories .stories .card-submit {
    background-color: unset;
    border-top:       unset;
    margin-bottom:    20px;
}

/*           Lado izquierdo            */
.success-stories .overview h2 {
    color:       #025157;
    font-family: "Lobster", cursive;
    font-size:   50px;
    line-height: 48px;
    margin-top:  20px;
}

.success-stories .overview p {
    color:       #343434;
    font-size:   18px;
    line-height: 1.5;
    margin-top:  20px;
}

.success-stories .overview button {
    border-radius: 7px;
    font-size:     14px;
    font-weight:   550;
    height:        50px;
    margin:        20px 0;
}

.success-stories .overview img {
    margin-top: 15px;
    width:      500px;
}

/*           Lado derecho              */
.success-stories .stories .card-media figure{
    margin-top: 0;
}

.success-stories .stories .card-media img{
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
    max-height:              16vw;
    width:                   100%;
}

.success-stories .stories .card-media .card-logo img{
    max-width: 75%;
}

.success-stories .card-info h4 {
    color:       #025157;
    font-size:   18px;
    font-weight: 600;
    line-height: 20px;
    margin:      20px 0;
}

.success-stories .card-info h3 {
    font-size:   20px;
    font-weight: 500;
    line-height: 26px;
    margin:      20px 0;
}

.success-stories .stories .card-info .card-results img {  
    margin-right: 20px;
    width:        30px;
}

.success-stories .card-submit button{
    border-radius: 7px;
    font-size:     16px;
    font-weight:   550;
    height:        60px;
    margin:        20px 0;
    width:         200px
}

/**********  Footer           **********/ 