/**********  Imports          **********/
@import url(https://fonts.googleapis.com/css?family=Lobster);   /*Advertising font*/


/**********  Generic classes  **********/ 
* {
    /*box-sizing: border-box;
    margin:     0;
    padding:    0;*/
}

main {
    /*margin-top: 285px;
    text-align: center;*/
}

body {
    background-color:         #fffbf7;
    font-family: 'Open sans', sans-serif;
}

h1 {
    color:         #025157;
    font-family:   "Lobster", cursive;
    font-size:     60px;
    line-height:   48px;
    margin-top:    150px;
    margin-bottom: 30px;
}

h2 {
    color:         #025157;
    font-family:   "Lobster", cursive;
    font-size:     44px;
    line-height:   40px;
    margin-bottom: 20px;
}

h3 {
    color:         #025157;
    font-family:   "Lobster", cursive;
    font-size:     38px;
    line-height:   40px;
    margin-bottom: 20px;
}

button {
    background-color: #025157;
    border:           none;
    border-radius:    5px;
    color:            white;
    font-size:        14px;
    height:           50px;
    padding:          15px 20px;
}

li {
    display: inline;
}

/*           Retos BEDU S1            */
/*
h1 {
    color: #025157;
}

h2 {
    color: #46484c;
}

p {
    color: #8b8b8bcc;
}
*/

/*           Reto 2 BEDU S4            */
.features-reto2 {
    display: grid;
    /*grid-template-columns: 300px 300px;*/
    /*grid-template-columns: repeat(2, 300px);*/
    /*grid-template-columns: 500px 1fr;*/
    /*grid-template-columns: 1fr 1fr;*/
    
    /* Reto 3.1 */
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows:    repeat(2, 330px) */
    /* Reto 3.2 */
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

.feature-art {
    background-color: lightcyan;
    margin:           10px;
    height:           50px;
    width:            40%;
}


/**********  Header           **********/
.fixed-header {
    background-color: #fffbf7;
    left:             0;
    position:         fixed;
    right:            0;
    top:              0;
}

.header {
    font-size: 0;
    height:    45px;
    margin:    20px 20px 0 20px;
}

.header > * {
    display:        inline-block;
    font-family:    sans-serif;
    font-size:      16px;
    height:         45px;   /* 100% */
    line-height:    45px;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

.logo > img {
    height: 100%;
    margin-top: 10px;
}

.actions {
    font-size:   14px;
    font-weight: 600;
    text-align:  right;
}

.actions > * {
    margin-left:  10px;
    margin-right: 10px;
}

.actions a {
    color:           #67b54b;
    text-decoration: none;
}

.actions button {
    background-color: #67b54b;
    border:           none;
    border-radius:    5px;
    color:            white;
    font-size:        14px;
    height:           55px;
    padding:          15px 20px;
}

/*           Nav-menu                  */
.navbar {
    text-align:  center;
    width:       70%;
}

.navbar a {
    color:           #025157;
    font-weight:     500;
    margin-right:    15px;
    margin-left:     15px;
    text-decoration: none;
}


/**********  Main-content     **********/
.main {
    text-align: center;
}

.main p {
    color:         #343434;
    font-family:   Verdana;
    font-size:     18px;
    line-height:   1.5;
    margin-bottom: 30px;
}

.main input {
    border:        1px solid #025157;
    border-radius: 5px;
    font-size:     14px;
    height:        46px;
}

.main button {
    margin-left:  -10px;
}

.main input button {
    overflow: hidden;
}


/**********  Media promo      **********/
.promo-media {
    align-items:    center;
    display:        flex;
    flex-direction: column;
    margin-bottom:  80px;
    margin-top:     40px;
}

.promo-media .capterra img{
    height: 1fr;
}

.promo-media .intro-group img{
    height: 450px;
}


/**********  Advertising      **********/
.promo {
    align-items: center;
    display:     flex;
    margin:      100px auto;
    max-width:   70%;
    width:       70%;
}

.promo .explanatory-video {
    align-items:    center;
    display:        flex;
    flex-direction: column;
    margin-right:   20px;
}

/*           Lado izquierdo            */
.promo .explanatory-video img {
    width: 150px;
}

/*           Lado derecho              */
.promo .advertising p {
    color: #343434;
}

.promo .advertising form p {
    color: #8b8b8bcc;
}

.promo .advertising form input {
    border:        1px solid #025157;
    border-radius: 5px;
    font-size:     14px;
    height:        46px;
}

.promo .advertising form button {
    margin-left: -10px;
}


/**********  Features         **********/
.features {
    background-color: #025157;
    display:          grid;
    grid-template:    repeat(2, 330px) / repeat(2, 1fr);
    padding:          5% 10%;
}

.features .subfeatures {
    align-items:      center;
    background-color: whitesmoke;
    border-radius:    7px;
    display:          flex;
    justify-content:  space-around;
    margin:           15px 15px;
    overflow:         hidden;
}

.features .subfeatures .card-info {
    margin-left: 40px;
    width: 100%;
}

.features .subfeatures .card-media {
    flex:     1;
    height:   85%;
    position: relative;
    right:    -50px;
    width:    50%;
}

/*           Lado izquierdo            */
.features .subfeatures .card-info img {
    width: 45px;
}

.features .subfeatures .card-info h3 {
    color:       #025157;
    font-size:   22px;
    font-weight: 400;
    line-height: 1.0;
}

.features .subfeatures .card-info p {
    color:       #969487;
    font-size:   16px;
}

.features .subfeatures .card-info a {
    color:           #67b54b;
    font-size:       16px;
    font-weight:     600;
    text-decoration: none;
}

/*           Lado derecho              */
.features .subfeatures .card-media img{
    height: 100%;
}


/**********  Success stories  **********/
.success-stories {
    align-items:      center;
    background-color: #a1d683;
    display:          flex;
    justify-content:  space-around;
    padding:          5% 15%;
}

.success-stories .overview {
    flex: 2;
    padding:        0 75px;
}

.success-stories .stories {
    align-items:      center;
    background-color: #fff;
    border-radius:    10px;
    display:          flex;
    flex-direction:   column;
    max-width:        370px;
    width:            100%;
}

.success-stories .stories .card-media{
    position: relative;
}

.success-stories .stories .card-media .card-logo {
    align-items:      center;
    background-color: #f9da73;
    border-radius:    50%;
    bottom:           -25px;
    display:          flex;
    position:         absolute;
    right:            15px;
    width:            100px;
    height:           100px;
}

.success-stories .stories .card-info,
.success-stories .stories .card-submit {
    padding: 20px;
}

.success-stories .stories .card-info .card-results {
    align-items:  center;
    color:        #828282;
    display:      flex;
}

.success-stories .stories .card-submit {
    background-color: unset;
    border-top:       unset;
    margin-bottom:    20px;
}

/*           Lado izquierdo            */
.success-stories .overview h2 {
    color:       #025157;
    font-family: "Lobster", cursive;
    font-size:   50px;
    line-height: 48px;
    margin-top:  20px;
}

.success-stories .overview p {
    color:       #343434;
    font-size:   18px;
    line-height: 1.5;
    margin-top:  20px;
}

.success-stories .overview button {
    border-radius: 7px;
    font-size:     14px;
    font-weight:   550;
    height:        50px;
    margin:        20px 0;
}

.success-stories .overview img {
    margin-top: 15px;
    width:      500px;
}

/*           Lado derecho              */
.success-stories .stories .card-media figure{
    margin-top: 0;
    margin:     0;
}

.success-stories .stories .card-media img{
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
    max-height:              16vw;
    width:                   100%;
}

.success-stories .stories .card-media .card-logo img{
    max-width: 95%;
}

.success-stories .card-info h4 {
    color:       #025157;
    font-size:   18px;
    font-weight: 600;
    line-height: 20px;
    margin:      20px 0;
}

.success-stories .card-info h3 {
    color:       #343434;
    font-family: 'Open sans', sans-serif;
    font-size:   20px;
    font-weight: 500;
    line-height: 26px;
    margin:      20px 0;
}

.success-stories .stories .card-info .card-results img {  
    margin-right: 20px;
    width:        30px;
}

.success-stories .card-submit button{
    border-radius: 7px;
    font-size:     16px;
    font-weight:   550;
    height:        60px;
    margin:        20px 0;
    width:         200px
}

/**********  Ecommerce        **********/

/**********  How it works     **********/
.works .works-info {
    text-align: center;
}

/*           Parte de arriba           */
.works p {
    color:         #46484c;
    font-size:     18px;
    line-height:   1.5;
    margin-bottom: 30px;
}

.works a {
    color:           #67b54b;
    text-decoration: none;
}

/*           Parte de abajo            */
.works .works-media {
    display:       grid;
    grid-template: repeat(1, 650px) / repeat(4, 1fr);
    padding:       5% 10%;
}

.works .works-media .subfeatures {
    align-items:     center;
    border:          1px solid #8b8b8bcc;
    border-radius:   5px;
    display:         flex;
    flex-direction:  column;
    justify-content: space-around;
    margin:          15px 15px;
    
}

.works .works-media .subfeatures .card-media {
    height:   350px;
    position: relative;
}

.works .works-media .subfeatures .card-media .card-logo {
    display:          flex;
    height:           25px;
    left:             10px;
    position:         absolute;
    top:              10px;
    width:            30px;    
}

.works .works-media .subfeatures .card-media img {
    height: 100%;
    width:  100%;
}

.works .works-media .subfeatures .card-info {
    display:          flex;
    flex-direction:   column;
    height:           50%;
    text-align:       center;
}

.works .works-media .subfeatures .card-info p {
    font-size: 16px;
}

.works .works-media .subfeatures .card-info a {
    font-weight: 600;
}


/**********  Try adver        **********/ 

/**********  Try promo        **********/ 

/**********  Footer           **********/ 