/**********  Imports          **********/
@import url(https://fonts.googleapis.com/css?family=Lobster);   /*Advertising font*/


/**********  Generic classes  **********/ 
/*
* {
    box-sizing: border-box;
    margin:     0;
    padding:    0;
}

main {
    margin-top: 285px;
    text-align: center;
}
*/

:root {
    --highlight-blue: #025157;
    --white-primary:  #fff;

    --gray-medium-text: #46484c;
    --gray-dark-text:   #343434;
    --gray-dark-blog:   #4a4a4a;

    --gray-medium-text: #8b8b8bcc;
    --gray-text-cards:  #7e7e7e;
    --gray-blog-text:   #979797;

    --green-highlight:   #67b54b;
    --green-bg-primary:  #a1d683;
    --green-bg-secundary:#96d178;
}

body {
    background-color:         #fffbf7;
    font-family: 'Open sans', sans-serif;
}

h1 {
    color:         var(--highlight-blue);
    font-family:   "Lobster", cursive;
    font-size:     60px;
    line-height:   48px;
    margin-top:    110px;
    margin-bottom: 30px;
}

h2 {
    color:         var(--highlight-blue);
    font-family:   "Lobster", cursive;
    font-size:     44px;
    line-height:   40px;
    margin-bottom: 20px;
}

h3 {
    color:         var(--highlight-blue);
    font-family:   "Lobster", cursive;
    font-size:     38px;
    line-height:   40px;
    margin-bottom: 20px;
}

form input {
    border:         1px solid var(--gray-text-cards);
    border-radius:  7px;
    padding:        14px 20px;
    font-weight:    300;
    max-width:      200px;
}

button {
    background-color: var(--highlight-blue);
    border:           none;
    border-radius:    7px;
    color:            white;
    /*font-size:        14px;
    height:           50px;*/
    padding:          15px 20px;
    margin-left:      -20px;
}

/*li {
    display: inline;
}*/

/*           Retos BEDU S1            */
/*
h1 {
    color: var(--highlight-blue);
}

h2 {
    color: var(--gray-medium-text);
}

p {
    color: var(--gray-medium-text);
}
*/

/*           Reto 2 BEDU S4            */
.features-reto2 {
    display: grid;
    /*grid-template-columns: 300px 300px;*/
    /*grid-template-columns: repeat(2, 300px);*/
    /*grid-template-columns: 500px 1fr;*/
    /*grid-template-columns: 1fr 1fr;*/
    
    /* Reto 3.1 */
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows:    repeat(2, 330px) */
    /* Reto 3.2 */
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

.feature-art {
    background-color: lightcyan;
    margin:           10px;
    height:           50px;
    width:            40%;
}

#carouselExampleIndicators {
    margin-top: 80px;
}

.carousel-inner {
    max-height: 100%;
    height:     450px;
}

.Boot-spinners {
    display:         flex;
    justify-content: center;
    margin-top:      20px;
    margin-bottom:   50px;
}

#alertBoot {
    background-color: var(--green-bg-primary);
    color:            var(--highlight-blue);
    font-family:      "Lobster", cursive;
    font-size:        40px;
    margin:           35px 300px;
    text-align:       center;
}

/**********  Header           **********/
/*
.fixed-header {
    background-color: #fffbf7;
    left:             0;
    position:         fixed;
    right:            0;
    top:              0;
}

.header {
    font-size: 0;
    height:    45px;
    margin:    20px 20px 0 20px;
}

.header > * {
    display:        inline-block;
    font-family:    sans-serif;
    font-size:      16px;
    height:         45px;   /* 100% 
    line-height:    45px;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

.logo > img {
    height: 100%;
    margin-top: 10px;
}

.actions {
    font-size:   14px;
    font-weight: 600;
    text-align:  right;
}

.actions > * {
    margin-left:  10px;
    margin-right: 10px;
}

.actions a {
    color:           var(--green-highlight);
    text-decoration: none;
}

.actions button {
    background-color: var(--green-highlight);
    border:           none;
    border-radius:    5px;
    color:            white;
    font-size:        14px;
    height:           55px;
    padding:          15px 20px;
}
*/

/*           Nav-menu                  */
/* .navbar {
    text-align:  center;
    width:       70%;
} */

.navbar a {
    color:           var(--highlight-blue);
    font-weight:     500;
    margin-right:    15px;
    margin-left:     15px;
    text-decoration: none;
}

.navbar {
    background-color: #fffbf7;
}

.navbar-light .nav-item .nav-link {
    color: var(--highlight-blue);
}

.navbar-light .navbar-toggler {
    border-color: var(--highlight-blue);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.actions {
    text-align: right;
    font-weight: 600;
    font-size: 14px;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: var(--green-highlight);
}

.actions button {
    color: white;
    background-color: var(--green-highlight);
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

/**********  Main-content     **********/
.main {
    text-align: center;
}

.main p {
    color:         var(--gray-dark-text);
    font-family:   Verdana;
    font-size:     18px;
    line-height:   1.5;
    margin-bottom: 30px;
}


/*.main input {
    border:        1px solid var(--highlight-blue);
    border-radius: 5px;
    font-size:     14px;
    height:        46px;
}*/

/*.main button {
    margin-left:  -10px;
}

.main input button {
    overflow: hidden;
}*/


/**********  Media promo      **********/
.promo-media {
    align-items:    center;
    display:        flex;
    flex-direction: column;
    margin-bottom:  80px;
    margin-top:     40px;
}

.promo-media .capterra img{
    height: 1fr;
}

.promo-media .intro-group img{
    height: 450px;
}


/**********  Advertising      **********/
.promo {
    align-items: center;
    display:     flex;
    margin:      100px auto;
    max-width:   70%;
    width:       70%;
}

.promo .explanatory-video {
    align-items:    center;
    display:        flex;
    flex-direction: column;
    margin-right:   20px;
}

/*           Lado izquierdo            */
.promo .explanatory-video img {
    width: 150px;
}

/*           Lado derecho              */
.promo .advertising p {
    color: var(--gray-dark-text);
}

.promo .advertising form p {
    color: var(--gray-medium-text);
}

/**********  Features         **********/
.features {
    background-color: var(--highlight-blue);
    display:          grid;
    grid-template:    repeat(2, 330px) / repeat(2, 1fr);
    padding:          5% 10%;
}

.features .subfeatures {
    align-items:      center;
    background-color: whitesmoke;
    border-radius:    7px;
    display:          flex;
    justify-content:  space-around;
    margin:           15px 15px;
    overflow:         hidden;
}

.features .subfeatures .card-info {
    margin-left: 40px;
    width: 100%;
}

.features .subfeatures .card-media {
    flex:     1;
    height:   85%;
    position: relative;
    right:    -50px;
    width:    50%;
}

/*           Lado izquierdo            */
.features .subfeatures .card-info img {
    width: 45px;
}

.features .subfeatures .card-info h3 {
    color:       var(--highlight-blue);
    font-size:   22px;
    font-weight: 400;
    line-height: 1.0;
}

.features .subfeatures .card-info p {
    color:       #969487;
    font-size:   16px;
}

.features .subfeatures .card-info a {
    color:           var(--green-highlight);
    font-size:       16px;
    font-weight:     600;
    text-decoration: none;
}

/*           Lado derecho              */
.features .subfeatures .card-media img{
    height: 100%;
}


/**********  Success stories  **********/
.success-stories {
    align-items:      center;
    background-color: var(--green-bg-primary);
    display:          flex;
    justify-content:  space-around;
    padding:          5% 15%;
}

.success-stories .overview {
    flex: 2;
    padding:        0 75px;
}

.success-stories .stories {
    align-items:      center;
    background-color: var(--white-primary);
    border-radius:    10px;
    display:          flex;
    flex-direction:   column;
    max-width:        370px;
    width:            100%;
}

.success-stories .stories .card-media{
    position: relative;
}

.success-stories .stories .card-media .card-logo {
    align-items:      center;
    background-color: #f9da73;
    border-radius:    50%;
    bottom:           -25px;
    display:          flex;
    position:         absolute;
    right:            15px;
    width:            100px;
    height:           100px;
}

.success-stories .stories .card-info,
.success-stories .stories .card-submit {
    padding: 20px;
}

.success-stories .stories .card-info .card-results {
    align-items:  center;
    color:        #828282;
    display:      flex;
}

.success-stories .stories .card-submit {
    background-color: unset;
    border-top:       unset;
    margin-bottom:    20px;
}

/*           Lado izquierdo            */
.success-stories .overview h2 {
    color:       var(--highlight-blue);
    font-family: "Lobster", cursive;
    font-size:   50px;
    line-height: 48px;
    margin-top:  20px;
}

.success-stories .overview p {
    color:       var(--gray-dark-text);
    font-size:   18px;
    line-height: 1.5;
    margin-top:  20px;
}

.success-stories .overview button {
    border-radius: 7px;
    font-size:     14px;
    font-weight:   550;
    height:        50px;
    margin:        20px 0;
}

.success-stories .overview img {
    margin-top: 15px;
    width:      500px;
}

/*           Lado derecho              */
.success-stories .stories .card-media figure{
    margin-top: 0;
    margin:     0;
}

.success-stories .stories .card-media img{
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
    max-height:              16vw;
    width:                   100%;
}

.success-stories .stories .card-media .card-logo img{
    max-width: 95%;
}

.success-stories .card-info h4 {
    color:       var(--highlight-blue);
    font-size:   18px;
    font-weight: 600;
    line-height: 20px;
    margin:      20px 0;
}

.success-stories .card-info h3 {
    color:       var(--gray-dark-text);
    font-family: 'Open sans', sans-serif;
    font-size:   20px;
    font-weight: 500;
    line-height: 26px;
    margin:      20px 0;
}

.success-stories .stories .card-info .card-results img {  
    margin-right: 20px;
    width:        30px;
}

.success-stories .card-submit button{
    border-radius: 7px;
    font-size:     16px;
    font-weight:   550;
    height:        60px;
    margin:        20px 0;
    width:         200px
}

/**********  Ecommerce        **********/
/*
.ecommerce {
    display: flex;
    justify-content: space-around;
}

.minRead strong {
    color: var(--green-highlight);
}

.img-profile {
    align-items: center;
    display: flex;
}

.img-profile img {
    border-radius: 50%;
    height:        50px;
    width:         50px;
}
*/

/**********  How it works     **********/
.works {
    margin-top: 50px;
}

.works .works-info {
    text-align: center;
}

/*           Parte de arriba           */
.works p {
    color:         var(--gray-medium-text);
    font-size:     18px;
    line-height:   1.5;
    margin-bottom: 30px;
}

.works a {
    color:           var(--green-highlight);
    text-decoration: none;
}

/*           Parte de abajo            */
.works .works-media {
    display:       grid;
    grid-template: repeat(1, 650px) / repeat(4, 1fr);
    padding:       5% 10%;
}

.works .works-media .subfeatures {
    align-items:     center;
    border:          1px solid var(--gray-medium-text);
    border-radius:   5px;
    display:         flex;
    flex-direction:  column;
    justify-content: space-around;
    margin:          15px 15px;
    
}

.works .works-media .subfeatures .card-media {
    height:   350px;
    position: relative;
}

.works .works-media .subfeatures .card-media .card-logo {
    display:          flex;
    height:           25px;
    left:             10px;
    position:         absolute;
    top:              10px;
    width:            30px;    
}

.works .works-media .subfeatures .card-media img {
    height: 100%;
    width:  100%;
}

.works .works-media .subfeatures .card-info {
    display:          flex;
    flex-direction:   column;
    height:           50%;
    text-align:       center;
}

.works .works-media .subfeatures .card-info p {
    font-size: 16px;
}

.works .works-media .subfeatures .card-info a {
    font-weight: 600;
}


/**********  Try matcha        **********/ 
.try-matcha .try-matcha-bg{
    /*background-color: red;*/
    background-image:    url("https://getmatcha.com/wp-content/themes/getmatcha/css/../img/home_people.png");
    background-size:     cover;
    background-position: center;
    height:              350px;
}

.try-matcha .try-matcha-content{
    background-color: var(--green-bg-secundary);
    height:           300px;
    text-align:       center;
    margin-top:       -30px;
}

.try-matcha .try-matcha-content h2 {
    font-size:      58px;
    padding-top:    50px;
    padding-bottom: 20px;
}

.try-matcha .try-matcha-content p {
    color: var(--white-primary);
    font-size: 14px;
    margin-top: 15px;
}

/**********  Try promo        **********/ 

.try-it .try-card {
    background-color: var(--highlight-blue);
    color:            var(--white-primary);
    border-radius:    10px;
    display:          flex;
    margin:           50px 100px;
}

.try-it .try-card .try-content {
    width: 70%;
}

.try-it .try-card .try-content h3 {
    color: var(--white-primary);
    margin: 50px 150px 20px 60px;
}

.try-it .try-card .try-content p{
    margin-left:   60px;
    margin-bottom: 50px;
}

.try-it .try-card .try-content strong{
    color: var(--green-highlight);
}

.try-it .try-card .try-form {
    align-self:       center;
    justify-content:  flex-start;
}

.try-it .try-card .try-form button {
    background-color: var(--green-highlight);
}

.try-it .try-card .try-form p {
    font-size:    14px;
    margin-top:   20px;
    margin-right: 200px;
}
/**********  Newsletter       **********/ 
.newsletter {
    display:         flex;
    justify-content: center;
    margin:          50px 130px;
}

.newsletter .news-menu {
    display:         flex;
    justify-content: center;
    width:           60%;
}

.newsletter .news-menu .news-col{
    display:        flex;
    flex-direction: column;
    padding:        0 20px;
}

.newsletter .news-menu .news-col li {
    color:           var(--highlight-blue);
    font-size:       14px;
    font-weight:     800;
    line-height:     2.8;
    list-style-type: none;
}

.newsletter .news-menu .news-col li > a {
    color:       var(--gray-dark-blog);
    font-size:   18px;
    font-weight: 400;
}

/**********  Footer           **********/ 
.footer {
    align-items:     center;
    display:         flex;
    height:          80px;
    justify-content: space-between;
}

.footer .footer-media {
    display:     flex;
    margin-left: 120px;
}

.footer .footer-media .footer-icons {
    display:         flex;
    justify-content: space-around;
    margin-left:     25px;
    max-width:       100%;
    width:           200px;
}

.footer .copyright {
    margin-right: 120px;
}

/**********  Media query      **********/ 

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    /* .navbar,
    .actions {
        display: none;
    } */

    h1 {
        font-size:  40px;
        margin-top: 90px;
    }

    .capterra > img {
        width: 100%;
    }

    .intro-group > img {
        width: 100%;
    }

    .publish-form > form {
        display:        flex;
        flex-direction: column;
        margin:         20px 50px;
        padding:        0.5em 1em;
    }
    
    .publish-form > form > button {
        height: 40px;
    }

    .promo {
        flex-direction: column;
        max-width:      90%;
    }

    .explanatory-video > video {
        width: 100%;
    }

    .advertising {
        margin-top: 10px;
    }

    .advertising > h3 {
        font-size: 25px;
        line-height: 1.2;
    }

    .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding:       0 0;
    }

    .subfeatures .card-media {
        display: none;
    }
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
} 